{{css "/css/info.css,/css/audit.css"}}

<div class="accordion-item">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        <i class="bi bi-gear"></i>
        標準設定
    </button>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
        <div class="infoDesc">
            <i class="bi bi-arrow-down-square"></i>志工簽退完成時，系統會依此計算時數。預設「起訖時間相減，以0.5小時(± 15分鐘)為單位」。           
        </div>
        <div class="accordion-body" >
            <form class="input-group audit_selector" id="criteriaForm">
                <select class="form-select groupSelector" aria-label="Example select with button addon" 
                id="c_group" name="group"></select>
                <input type="text" class="form-control" placeholder="名稱" id="c_name" name="name">
                <input type="number" class="form-control" placeholder="開始時間" aria-label="start_time"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="格式為hhmm 4位數字"
                id="start_time" name="start_time">
                <input type="number" class="form-control" placeholder="結束時間" aria-label="end_time"
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="格式為hhmm 4位數字"
                id="end_time" name="end_time">
                <button class="btn btn-secondary" type="button" id="addCriteria" disabled>新增標準</button>
            </form>
            <!-- 表格 -->
            <table id="hoursCriteria" class="table table-bordered table-striped nowrap dt-responsive collapsed table-hover custom-tb" 
            role="grid" aria-controls="hoursCriteria" style="width:100%">
              <thead class="bg-light bg-gradient">
                <tr>
                    <th class="th-sm">操作</th>
                    <th class="th-sm"></th>
                    <th class="th-sm">id</th>
                    <th class="th-sm">組別</th>
                    <th class="th-sm">名稱</th>
                    <th class="th-sm">起訖時間</th>
                    <th class="th-sm">使用狀態</th>
                    <th class="th-sm">編輯者</th>
                    <th class="th-sm">編輯日期</th>               
                </tr>
              </thead>
            </table>
        </div>
    </div>
</div>
<div class="accordion-item">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
        <i class="bi bi-clipboard-check"></i>
        時數審核
    </button>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="infoDesc">
            <i class="bi bi-arrow-down-square"></i>修改審核時數與備註：(1)輸入後，選取待存資料列，按「儲存輸入資料」或 (2)選取資料列，按「批次修改」。<br/>
            <i class="bi bi-arrow-down-square"></i>可搭配「全選」、「取消選擇」按鈕、<kbd>Ctrl</kbd> 或 <kbd>Shift</kbd> + 左鍵自由多選。<br/>
            <i class="bi bi-arrow-down-square"></i>資料確定無誤，按「提交」完成作業，資料提交後，如欲修改，請洽管理員。           
        </div>
        <div class="accordion-body">
            <!-- 選單 -->
            <form id="periodGroup">
                <div class="input-group audit_selector period">
                    <select class="form-select" id="month" name="month" aria-label="Example select with button addon">
                        <option value="T">本月</option>
                        <option value="L" selected="selected">前一月</option>
                        <option value="L2">前二月</option>
                    </select>
                    <input type="radio" class="btn-check" name="isAuditOver" id="notAuditOver" autocomplete="off" value="N"checked>
                    <label class="btn btn-light" for="notAuditOver">未提交</label>
                    <input type="radio" class="btn-check" name="isAuditOver" id="auditOver" autocomplete="off" value="Y"c>
                    <label class="btn btn-light" for="auditOver">已提交</label>
                </div>
                <div class="btn-group" id="groupBtn"></div>
            </form>
            <form id="tableForm">
                <table id="hoursAudit" class="table table-bordered table-striped nowrap dt-responsive collapsed table-hover custom-tb" 
                role="grid" aria-controls="hoursAudit" style="width:100%">
                <thead class="bg-light bg-gradient">
                    <tr>
                        <th class="th-sm"></th>
                        <th class="th-sm">紀錄#</th>
                        <th class="th-sm">志工#</th>
                        <th class="th-sm" data-priority="1">姓名</th>
                        <th class="th-sm" data-priority="1">日期</th>
                        <th class="th-sm">標準(#)</th>
                        <th class="th-sm" data-priority="1">起訖時間</th>
                        <th class="th-sm" data-priority="1">計算<br/>時數</th>
                        <th class="th-sm" data-priority="1">審核<br/>時數</th>
                        <th class="th-sm" data-priority="1">備註</th>
                        <th class="th-sm" data-priority="1">經手人</th>
                    </tr>
                </thead>
                </table>
            </form>
        </div>
    </div>
</div>

{{js "/js/hours/criteria.js,/js/hours/audit.js"}}