<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>登入系統</title>
    <link rel="icon" type="image/png" href="/IMG/ico2.png"/>
    <link rel="stylesheet" type="text/css" href="/CSS/all.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS/login.css"/>
</head>
<body>
    <main>
        <div class="lgininBox">
            <form method="POST" id="loginForm">
                <div class="title">登入系統</div>
                <label>帳號</label><input id="loginID" type="text" name="username" placeholder="請輸入帳號" required>
                <br/>
                <label>密碼</label><input id="loginPW" type="password" name="password" placeholder="請輸入密碼" required>
                <br/>
                <p class="hidden" id="login_hint"></p>
                <button id="loginBtn">登入</button>
            </form>
        </div>
    </main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/JS/axios/API.js"></script>
    <script src="/JS/axios/interceptor.js"></script>
    <script src="/JS/login.js"></script>
</body>
</html>