body{
    background-color: #f5f5f5;
}
main{
    width: 95%;
    margin: 20px auto;
}

#n_newVol{
    cursor: pointer;
    background: linear-gradient(to top, #528138, #689044, #9bbb6c);
    margin-left: 0px !important;
    margin-bottom: 10px;
    float: left;
    padding: 8px;
    font-size: 14px;
}

.accordion-item {
    clear: both;
    box-shadow: 0px 2px 3px rgba(199, 196, 193, 0.979);
    margin-bottom: 15px;
}

.accordion-button{
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: #e7f1ff;
    color: #3d6578 !important;
}

.accordion-button:focus{
    box-shadow: 0px 2px 3px rgba(199, 196, 193, 0.979);
}

.accordion-button::after {
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
}


.accordion-body{
    text-align: left;
}

#info1Form{
    font-size: 14px;
}

#info1Form input:not([type="checkbox"],[type="radio"]), select{
    height: 25px;
    width: 100px;
    font-size: 13px;
    padding: 2px 8px;
}

#info1Form input[type="text"]{
    margin-right: 3px;
}

#isubmit{
    margin-left: 64px;
    padding: 8px;
}

#iclear, #iexcel{
    margin-left: 5px;
    padding: 8px;
}

#addVols:hover, button:hover{
    box-shadow: 0px 2px 3px rgba(152, 148, 145, 0.964) !important;
}
