<div class="modal fade" id="waitModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="waitModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm"> 
    <div class="modal-content">
      <button type="button" class="btn-close hidden" data-bs-dismiss="modal" aria-label="Close" id="waitModalClose"></button>
      <div class="modal-body" id="waitModalBody">
      </div>
    </div>
  </div>
</div>


<div class="modal" id="hintModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="hintModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"> 
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title fs-5" id="hintModalHead"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="hintModalBody">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalClose">關閉</button>
            <button type="button" class="btn btn-primary hidden" id="toDo">已確認未重複，需要新增</button>
        </div>
      </div>
    </div>
  </div>

