@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);


:root {
    --nav-height: 70px;
    --nav-fs: 18px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: #33467c;
    text-decoration: none;
}

body{
    margin:0 auto;
    font-family: 'Microsoft JhengHei', sans-serif !important;
    text-align:center;
    align-items:center;
}

button, input{
    border: none;
    border-radius: 5px;
}

input[disabled], button[disabled]{
    cursor: not-allowed !important;
}

*:disabled{
    cursor: not-allowed !important;
}
  
input, button:focus{
    outline: none;
}

.hidden{
    display: none;
}

.navClass{
    background: url(/img/nav_banner2.jpg) no-repeat left top;
    background-size: cover;
    width: 100%;
    height: var(--nav-height);
    box-shadow: 0px 2px 3px rgba(199, 196, 193, 0.979);
    font-size: var(--nav-fs);
    font-weight: 900;
}

.nav_container{
    width: 1200px;
    height: var(--nav-height);
    display: flex;
    margin: 0 auto;
}

.logo{
    cursor: pointer;
    background: url(/img/nav_ico.png) no-repeat left center;
    background-size: contain;
    width: var(--nav-height);
    height: var(--nav-height);
    margin-right: 3px;
}
 
.nav_left, .nav_right  {
    display: flex;
    position: relative;
    align-items: center;
    bottom: -6px;
}

.nav_left{
    justify-content: flex-start;
    flex-wrap: wrap;
}

.nav_right {
    flex: auto;
    right: 0;
    width: 50px;
    justify-content: flex-end;
    color: #666666;
    font-size: 15px;
}
  
.nav_item, .nav_board_item {
    cursor: pointer; 
    flex: none;
}

.nav_item{
    padding: 2px 3px;
    margin: 0 2px;
}

.nav_board_item{
    padding: 2px 3px;
    margin: 0 1px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%,rgba(246, 246, 238, 0.7) 70%);
    letter-spacing: 0.05em;
}

h6{
    background: linear-gradient(to top, #3a1c71, #4a8234, #bfd250);
    background: -webkit-linear-gradient(to top, #3a1c71, #d76d77, #ffaf7b);
    background-clip: text;
    -webkit-background-clip: text;
    margin: 1px;
    color: transparent;
    font-size: 0.9rem;
    font-weight: bold;
}

h6:hover, h6:active, .h6Active{
    background: linear-gradient(to top, #3a1c71, #d76d77, #ffaf7b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.nav_item:hover,.nav_board_item:hover, .itemActive{
    box-shadow: 0px 2px 0px rgba(248, 152, 100, 0.808);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%,rgba(252, 246, 205, 0.653) 70%);
}

@media(max-width:1200px){
    .nav_container{
        width: 98%;
    }
}

@media(max-width:960px){
    .nav_left{
        width: 660px;
        font-size: 0.8rem;
    }
    .nav_right{
        font-size: 14px;
    }
}

@media(max-width:750px){
    .logo{
        display: none;
    }
    .nav_left{
        font-size: 0.7rem;
    }
}

@media(max-width:640px){
    .nav_left{
        width: calc(80%-250px);
        font-size: 0.6rem;
        height: 50px;
        bottom: -8px;
    }
    .nav_right{
        bottom: -10px;
    }
}

@media(max-width:460px){
    .nav_right{
        flex-wrap: wrap;
        width: 30px;
        height: 30px;
        bottom: -16px;
        font-size: 13px;
    }
}

@media(max-width:420px){
    .nav_left{
        width: 300px;
        font-size: 14px;
    }
}
